<p class="title">Layer Information</p>

<div class="layer-info">

  <section>
    <form>
      <md-input-container class="md-block">
        <label>Layer Name</label>
        <input ng-model="layerInfo.name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Vector Tile Service URL</label>
        <input ng-model="layerInfo.url">
      </md-input-container>

      <p class="md-body-2">Layer Rendering Method</p>
      <md-radio-group ng-model="layerInfo.renderMethod">
        <md-radio-button value="svg"> SVG </md-radio-button>
        <md-radio-button value="canvas"> Canvas </md-radio-button>
      </md-radio-group>
    </form>
  </section>

  <section layout="row">
    <md-button class="md-raised md-primary" ng-click="addLayer()">Add Layer</md-button>
    <md-button class="md-raised md-warn" ng-click="removeLayer()">Remove Layer</md-button>
    <md-button class="md-raised" ng-click="reset()">Clear</md-button>
  </section>
</div>

<md-divider></md-divider>
