<p class="title">Layer Information</p>

<div class="layer-info">

  <section>
    <form>
      <md-input-container class="md-block">
        <label>Layer Name</label>
        <input ng-model="layerInfo.name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Vector Tile Service URL</label>
        <input ng-model="layerInfo.url">
      </md-input-container>

      <div>
        <p class="md-body-2">Layer Rendering Method</p>
        <md-radio-group ng-model="layerInfo.renderMethod" layout="row">
          <md-radio-button value="svg"> SVG </md-radio-button>
          <md-radio-button value="canvas"> Canvas </md-radio-button>
        </md-radio-group>
      </div>

      <div>
        <p class="md-body-2 clickable" ng-click="layerInfo.showStyleEditor = !layerInfo.showStyleEditor">
          <i class="fa"
             ng-class="{ 'fa-caret-right': !layerInfo.showStyleEditor, 'fa-caret-down': layerInfo.showStyleEditor }">
          </i>
           	&nbsp;Layer Style (JSON format)
        </p>
        <div ng-jsoneditor
             class="layer-style-editor"
             ng-model="layerInfo.style"
             options="layerInfo.styleEditorOptions"
             ng-show="layerInfo.showStyleEditor">
        </div>
        <a href="https://github.com/IvanSanchez/Leaflet.VectorGrid#styling"
           target="_blank"
           ng-show="layerInfo.showStyleEditor">
           <i class="fa fa-link"></i>&nbsp;Style Guide for Leaflet.VectorGrid
        </a>
      </div>
    </form>
  </section>

  <section layout="row">
    <md-button class="md-raised md-primary" ng-click="addLayer()">Add Layer</md-button>
    <md-button class="md-raised md-warn" ng-click="removeLayer()">Remove Layer</md-button>
    <md-button class="md-raised" ng-click="reset()">Clear</md-button>
  </section>
</div>

<md-divider></md-divider>
