<!DOCTYPE html>
<html lang="en" ng-app="leaflet-vt-viewer">

  <head>
    <title>leaflet-vt-viewer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body layout="row" flex>
    <div flex="70" ng-controller="mapCtrl">
      <div id="map"></div>
      <map-info-view id="map-info" class="on-map"></map-info-view>
    </div>
    <div flex="30" style="overflow-y: auto">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3 class="md-headline">Leaflet Vector Tile Viewer</h3>
          <span flex></span>
          <a aria-label="Star haoliangyu/leaflet-vt-viewer on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/haoliangyu/leaflet-vt-viewer#stargazers_count" data-count-href="/haoliangyu/leaflet-vt-viewer/stargazers" data-style="mega" data-icon="octicon-star" href="https://github.com/haoliangyu/leaflet-vt-viewer" class="github-button">Star</a>
        </div>
      </md-toolbar>
      <layer-info-view></layer-info-view>
      <layer-list-view></layer-list-view>
    </div>
  </body>

</html>
